# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Maven Wrapper
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Ignore build output directories
target/

# Ignore IDE-specific files
.idea/
.classpath
.project
.settings/

# Ignore log files
*.log